.todo {
    @apply flex justify-between;
    @apply mb-2.5 p-2.5 rounded;
    @apply bg-[var(--window-color)];

    transition: 0.25s;

    &:hover {
        box-shadow: 3px 3px 3px #0000005f,
            -2px -2px 2px #ffffff4f;
        transform: translateX(-2px);
    }
}
