:host {
    grid-area: categories;

    @apply flex flex-col justify-between;
}

.categories {
    margin: var(--category-margin) 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: #9d9fa3d6;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - var(--category-margin) * 2);
    }
}

.category-form-container {
    @apply mx-2 my-4;
}
