:host {
    grid-area: categories;

    @apply flex flex-col justify-between;
}

.categories {
    margin: var(--category-margin) 0;
    @apply relative;

    &::after {
        content: '';
        @apply absolute h-[1px] bg-[#9d9fa3d6] left-[50%] translate-x-[-50%];
        width: calc(100% - var(--category-margin) * 2);
    }
}

.category-form-container {
    @apply mx-2 my-4;
}
